
  td img {
    display: block;
  }

  .style16 a {
	 color: #000000;
	 text-decoration: none;
  }

  body {
	  background-color: #FFBD86;
	  background-image: url(images/background-texture.gif);
	  background-repeat: repeat-x;
  }
  .style8 {
    font-family: "Times New Roman", Times, serif; font-size: 18px; color: #FFFFFF;
  }
  .style8 a {
	  color: #FFFFFF;
	  text-decoration: none;
  }
  a:hover {
	   color: #FF9A00;
	    text-decoration: none;
  }
  .style11 a {
	color: #FFFFFF;
	text-decoration: none;
}
  .style10 {
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 10px;
	 color: #FFFFFF;
  }
  .style11 {
    font-family: "Times New Roman", Times, serif; font-size: 14px; color: #FFFFFF;
  }

  a:hover {
	   color: #FF9A00;
	    text-decoration: underline;
  }
  .style10 a {
	color: #FFFFFF;
	text-decoration: none;
}
  a:hover {
	color: #FF9A00;
	text-decoration: underline;
}
  .style12 a {
	color: #000000;
	text-decoration: none;
}
  a:hover {
	color: #FF9A00;
	text-decoration: underline;
}
  .style13 {
    font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	color: #C73522;
	font-size: 24px;
  }
  .style17 a {
	color: #FFFFFF;
	text-decoration: none;
}
  .style22 {font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: #FFFFFF; }
  .style28 {color: #FFFFFF; font-family: Arial, Helvetica, sans-serif;}
  .style29 {font-size: 14px}
  .style31 {font-size: 24px; font-weight: bold; }
  .style29 {
	color: #FFFFFF;
	text-decoration: none;
}
  .style32 {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
}
  .style33 {
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
}
  .style35 {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
  }

  .style25 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
  }
  .style36 {
    color: #FFFFFF
  }

  .style38 {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 24px;
  }

  .style41 {
    color: #FFFFFF;
    font-weight: bold;
  }
