@media only screen and (max-device-width: 760px) {

  table, thead, tbody,th,td,tr {
    display: table-row;
    margin: 0;
    padding: 0;
    border: 0;
  }

  td img {
   width: 100%;
   height: fit-content;
 }

  tbody {
    width: 100%;
  }

	object {
		height: 70vh !important;
	}

  .cnt-text {
    text-align: center;
  }

	.margin-left-bl-cnt {
		margin-left: 95px;
	}

	/*
 ===============================
	1.0 mobile Global
 ===============================
 */

 .nav {
	 font-size: 65px !important;
	 display: contents;
 }

 .nav a {
	 /* font-size: 50px; */
	 text-decoration: underline;
	 text-decoration-color: #F7b882
 }

 .footer-nav {
	 font-size: 3em !important;
 }

 /* .footer-color {
	 font-size: 1.9em;
 } */

 .flex {
	 display: flex;
 }

 .flex-container {
	 display: flex;
	 justify-content: center;
	 width: 100%;
 }

 .flex-column {
	 display: flex;
	 flex-direction: column;
 }

  .ad-card-mobile {
    font-size: 1.5em;
  }

	.easter-msg {
		font-size: 60px;
	}

	.easter-header {
		font-size: 100px;
	}

  .mobile-width {
    width: 100%;
  }

  .media-icons-flex {
    display: flex;
    margin: 20px 0;
    justify-content: space-evenly;
  }

	.width-fs {
		width:100%
	}

	.footer-hrs-add {
		font-size: 2.5em;
	}

	.footer-times-size {
		font-size: 27px;
	}

	.copyright-size-mobile {
		font-size: 1.8em;
	}

	.svc-anc {
		font-size: 60px;
	}

	.service-msg {
		font-size: 50px !important;
	}

	h3.blackboard-tiles.cnt-text {
		margin-bottom: -5px;
	}

	/*
 ===============================
	1.1 mobile - special
 ===============================
 */
  img.tripadvisor {
    height: auto;
    width: 30%;
  }

/*
Below CSS is being used to get any span tag that has an image inisde it.
*/
/* This is being used to change the statcounter */
  span img {
    height: auto;
    width: 18%;
  }


	/*
 ===============================
	1.2 Fonts - Text size
 ===============================
 */

	.about-par {
 		font-size: 2.8em;
 	}

	.font-size-lg {
		font-size: 2em;
	}

	.call-gift-card {
		font-size: 0.6em;
	}

 /* .text-lg-bold {
 	font-size: 2.5em;
 	font-weight: 300;
 } */

 .phone-num-mobile {
	 font-size: 3rem;
 }

 .gift-card-promo {
	 font-size: 3.5em;
 }

 .copyright-font-size-mobile {
 	font-size: 1.4em;
 }

 .speicals-link {
 	font-size: 3rem;
 }

 .footer-font-size {
 	font-size: 1.5em;
 }

 .text-titles {
	 font-size: 70px;
 }

 .welcome-text {
	 font-size: 90px;
 }

 /*
 ===============================
 1.3 Blackboard
 ===============================
 */

	.blackboard {
		font-size: 2.5em;
	}

	.blackboard-img {
		background: url(images/blackboard-body-mobile.jpg) !important;
		background-size: contain !important;
	}

	.blackboard-footer {
		display: flex;
		width: 100% !important;
	}

	.blackboard-titles {
		font-weight: bold;
		font-size: 1.5em;
		color: #FFFF99;
		font-family: "Times New Roman", Times, serif;
	}

	.cnt-img-header {
		margin-left: 21px;
	}

	.special-menu tr {
		display: flex;
		justify-content: space-between;
		margin-bottom: 4px;
		padding-bottom: 95px;
	}


	/*
	===============================
	1.4 Menus
	===============================
	*/

	.no-margin {
		margin: 0px;
	}

	.page-content {
		display: flex;
		justify-content: center;
	}

	.pdf-wrapper {
		text-align: center;
		display: flex;
	}

	.menu-body table {
		/* width: 100%; */
		display: flex;
	}

	.menu-body tr {
		display: flex;
		justify-content: space-between;
	}


	.mobile-menu-message {
		font-size: 70px;
	}

	.menu-titles {
		font-size: 80px;
	}

	.menu-font {
		font-size: 40px;
	}


} /* end of media tag 760*/


/* Footer Mobile screen between 340 and 760 */
@media only screen and (min-device-width: 340px) and (max-device-width: 760px) {
	.footer-hrs-add {
		font-size: 44px;
    margin: 0 auto;
    display: flex;
	}
	.footer-times-size {
    font-size: 35px;
	}

}
